# Python ignores
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log

# Environment files
.env
.env.*

# IDE files
.idea/
.vscode/
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Session files
*.session
